	@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,600');
	@import url('https://fonts.googleapis.com/css?family=Crete+Round');
	@import url('https://fonts.googleapis.com/css?family=Spectral+SC:300');
	@import url('https://fonts.googleapis.com/css?family=Open+Sans');


	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		}

	body {
		max-width: 100%;
		overflow-x: hidden;
		font-family: 'Poppins', sans-serif;
		font-size: 16px;
		}

	img  {
		display: block;
		width: 100%;
		}

	a {
		text-decoration: none;
		font-size: 16px;
		font-weight:900;
		color:black;
		}

	h1{
		font-size: 2.5em;
	}


	h3 {
		position: relative;
		}

	h4 {
		color:#84d1f8;
		font-size:1em;
	}

	p{
		font-weight: 300;
		}

	.clearfix:after {
		display: block;
		content:"";
		clear:both;
		}

	.header {
		position: fixed;
		z-index:9;
		top: 0;
		left: 0;
		width: 100%;
		transition: 0.3s;
		}






	.scrolled {
  	background-color: dodgerblue;
  	transition: 0.3s;
  	}


		.header: after {
			content: "";
			display: block;
			width: 50%;
			height: 100%;
			position: absolute;
			z-index: 1;
			top: 0;
			right: 0;
		}

	.headerleft {
		float: left;
		width: 40%;
		position: relative;
		z-index: 2;
		 }


		.headerleft h2 {
			float: left;
			margin-top: 30px;
			color: white;
		}

		.headerright {
			float: right;
			width: 50%;
			position: relative;
			z-index: 2;
		}

		.headerright a {
			float: left;
			color:white;
			width: 20%;
			display: block;
			margin-top: 37px;
			text-align: center;
			position: relative;
			right: 240px;
		}

		.logo {
			float: left;
			width: 100px;
			height: 100px;
			background: transparent url(../images/logo_trans2.png) center center;
			background-size: 120% auto;
		}


		.hero {
			width: 100%;
			left: 0;
			position: fixed;
			z-index: 1;
			}

		.hero_left {
			position: relative;
			float: left;
			width: 45%;
			height: 0;
			padding-bottom: 35.20%;
			position: relative;
		}

		.hero_text {
			color: #f7f3f3;
			position: absolute;
			top: 40%;
			left: 60px;
			max-width: 700px;
			transform: translateY(-40%,);
			font-weight: 600;
				z-index: 2;
		}


		.hero_text {
     position: absolute;
     -webkit-animation-name: text-fade;  /* Safari 4.0 - 8.0 */
     -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */
     -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
     animation-name: text-fade;
     animation-duration: 3s;
     animation-fill-mode: forwards;
     }

		 @keyframes text-fade {
		 from {
			 opacity: 0; top: -10%;}
			 to {opacity: 1; top: 40%;}
		 }


		/* .arrow p {
			font-size:60px;
			position:absolute;
			right:50%;
			bottom: 50%;
		} */

		/* .hero_text h1 {
			font-size: 4em;
			letter-spacing: -3px;
			line-height: 1.2;
			} */




		.hero_text h1 {
			font-size: 6em;
			letter-spacing: -3px;
			line-height: 1.2;
		}

		.hero_text h2 {
			font-weight: 300;
			font-size: 2em;
			line-height: 1.3;
		}

		.hero_text h3 {
			font-size: .6em;
			color: grey;
		}



		 /* .portfolio3 {
			width: 100%;
			background-color: #e3ddd5;
			position: relative;
			z-index: 3;
		} */

		/* .portfolio p {
			text-align: center;
			font-size: 1.75em;
		} */

		.backdrop1 {
			width: 100%;
		}

		.backdrop2{
			width:100%;
			height:700px;
			opacity:.3;
		}

		.thumb1 {
			position:absolute;
			top: 2%;
			left:5%;
			width:40%;
			z-index: 1
		}

		.description1 {
			width:35%;
			color: white;
			text-align: left;
			position: absolute;
			top:23%;
			right:10%;
		}

		.description1 h1 {
			font-size: 3em;
		}

		.description1a {
			width:35%;
			color: white;
			text-align: left;
			position: absolute;
			top:46%;
			right:10%;
		}

		.description1a h1 {
			font-size: 3em;
		}


		.description2 {
			width:35%;
			color: white;
			text-align: left;
			position: absolute;
			top:20%;
			left:10%;
		}

		.description2 h1 {
			font-size: 3em;
		}


		.description2a {
			width:35%;
			color: white;
			text-align: left;
			position: absolute;
			top:45%;
			left:10%;
		}


		.description2a h1 {
			font-size: 3em;
		}


		.description3 h1 {
			font-size: 3em;
		}

		.description3 {
			color: black;
			width:35%;
			text-align: left;
			position: absolute;
			top:27%;
			left:10%;
		}

		.description3a {
			width:35%;
			color: black;
			text-align: left;
			position: absolute;
			top:55%;
			left:10%;
		}

		.thumb1a {
			position:absolute;
			top:2%;
			right:5%;
			z-index:1;
			width: 40%;
		}


		.thumb2 {
			float: left;
			width: 75%;
		}


		.thumb3 {
			position:absolute;
			top: 20%;
			left:5%;
			width: 800px;
			z-index: 1
		}

		.backdrop3{
			width:100%;
			height:850px;
			background-color: #e3ddd5;
		}

		.footerline{
			display: block;
			width: 100%;
			margin: 30px auto;
			max-width: 100px;
			height: 2px;
			background-color: black;
			border: none;
		}

		.footer {
		background-color: white;
		position: relative;
		padding-bottom:20px;
		padding-top: 20px;
			z-index: 3;
		}

		.container2{

			background-color: white;
			position: relative;
			z-index: 3;
		}



		/* .closepanel p{
			width:40%;
			position:relative;
			left:50px;
		} */

		/* .closepanel a  {
			color:#e8e8e8;
			font-size: 1.5em;
			letter-spacing: -2px;
		} */

		/* .closepanel h2 {
			font-weight: 300;
			font-size: .75em;
			border-width: 3px;
		} */

		/* .closepanel h3 {
			font-weight: 300;
			font-size: .5em;
			color:dodgerblue;
			position:relative;
			right:800px;
		} */

		/* .closepanel h4 {
			font-weight: 300;
			font-size: .5em;
			color:dodgerblue;
			position:relative;
			right:800px;
		} */

		/* .closepanel img{
			width:100px;
			position:relative
			transform: translate(-50%, -50%);
		} */





		.closepanel2 h1  {
			 font-size: 3em;
			letter-spacing: -2px;

		}

		.intro1{
			display:inline-flex;
			width:100%;
			margin-bottom:200px;
			/* background-color:yellow; */
		}

		.intro-home-1{
			display:inline-flex;
			width:100%;
			margin-bottom:70px;
			/* background-color:yellow; */
		}



		/* .intro_text1 h1{
			position:absolute;
			left:300px;
		} */

		.work-intro_text1{
			/* display:flex; */
			width:60%;
			 padding-top:17%;
			text-align: left;
			/* padding-right:6%; */
			padding-left:10%;
			font-size:.75em;
		}

		/* .intro_text2{
			width:50%;
			 padding-top:5%;
			text-align: left;
		  padding-right:11%;
			padding-left:15%;
			font-size:.75em;

		} */



		.intro2{
			display:inline-flex;
			width:100%;
			padding-bottom:10%

			/* background-color:#eeeeee; */
			/* background-color:#7d97a9; */
			/* background-color:#7d97a940; */
				/* background-color:#2684f5; */
		}

		.intro_text2{
			width:70%;
			padding-top: 3%;
			font-size:.75em;
			text-align:left;
			padding-right:11%;
			padding-left:15%;
		}

		/* .intro_image2{
			width:50%;
		} */

		.intro_image2 img{
			width:110%;
			padding-left:10%;
			padding-top:10%;
		}

		.intro_logos {
			display:inline-flex;
			width:10%;
		}

		.intro_logos img{
			height:5%;
		}

		.skills-row{
			background-color:#f0f0f0;
			width:100%;
			/* height:600px; */
			/* background-color:#7d97a9; */
			position: relative;
			z-index: 3;
			text-align: center;
			font-size: 1.75em;
			color: #060b20;
			padding-top:100px;
			}



		.closepanel5{
			background-color:#f0f0f0;
			width:100%;
			height:600px;
			/* background-color:#7d97a9; */
			position: relative;
			z-index: 3;
			text-align: center;
			font-size: 1.75em;
			color: #060b20;
			padding-top:100px;
			}

		.intro_text3{
			padding-left:20%;
			padding-right:20%;
			font-size:.75em;
		}

		.closepanel3{
			width: 100%;
			height: 300px;
			background-color:#060b20;
			position: relative;
			z-index: 3;
			text-align: center;
			font-size: 1.75em;
			color: white;
			padding-top:20px;
		}

		/* .closepanel2 img{
			width:30%;
		} */

		.closepanel4 {
			width: 100%;
			/* height: 600px; */
			/* background-color:#e7e8fe; */
			background-color:white;
			position: relative;
			z-index: 3;
			text-align: center;
			font-size: 1.5em;
			color: #060b20;
			padding-top:50px;
			padding-bottom:200px;
		}

		.closepanel4 img {
			width:20%;
			margin:auto;
		}

		.skills1 {
			float: left;
			width: 30%;
			margin-left:100px;
			padding-left:10px;
			padding-right:10px;
		}


		.skills2 {
			float: left;
			width: 30%;
			padding-left:10px;
			padding-right:10px;
			}

		.skills3 {
			float: left;
			width: 30%;
			padding-left:10px;
			padding-right:10px;
		}

		.closepanel5 {
			width: 100%;
			height: 800px;
			 /* background-color:#e7e8fe; */
			/* background-color:white; */
			position: relative;
			z-index: 3;
			text-align: left;
			font-size: 1.5em;
			color: #060b20;
			padding-top:200px;
		}

		.closepanel5 img {
			width:15%;
			margin:auto;
		}

		.closepanel5 h1 {
			text-align:center;
		}

		.closepanel5 h4 {
			text-align:center;
		}

		.skills51 {
			float: left;
			width: 30%;
			margin-left:100px;
			padding-left:10px;
			padding-right:10px;
		}

		.skills51 h2{
			text-align: center;
		}

		.skills52 h2{
			text-align: center;
		}

		.skills53 h2{
			text-align: center;
		}

		.skills52 {
			float: left;
			width: 30%;
			padding-left:10px;
			padding-right:10px;
			}

		.skills53 {
			float: left;
			width: 30%;
			padding-left:10px;
			padding-right:10px;
		}

		.button {
			border-radius: 12px;
		}

		.button {
		  background-color: #647adb;
		  border: none;
  	  color: white;
		  padding: 15px 32px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		}

		.row {
			margin-left:10%;
			margin-right:10%;
		}


		.row2{
			width:100%
			background-color:grey;
			height:600px;
		}

		.footernav a {
			display: block;
			float: left;
			width: 25%;
			position: relative;
			z-index:99;
			background-color: white;
		}

		.spacer {
			width: 50%;
		}

		.placeholder a {
			display: block;
			width: 100px;
			margin: 0 auto;
			padding-top: 20px;
			padding-bottom: 20px;
			background-color: white;
		}

		.footernav {
			text-align: center;
			background-color: white;
		}

		.socialmedia{
			width: 250px;
			margin: 0 auto;
			background-color: white;
			padding-top:5%;
		}

		.socialmedia a {
			display: block;
			float: left;
			width: 40px;
			margin-left: 10px;
			background-color: white;
		}

		.bottomnav {
			background-color: white;
			position: relative;
			z-index: 2;
		}

		.copyright {
			position: relative;
			z-index: 3;
			background-color: white;
			padding-top:20px;
			padding-bottom:20px;
		}

		.copyright p {
			text-align: center;
			background-color: white;
		}


		/** /Top right text */
		.mail {
		  position: absolute;
		  top: 240px;
		  right: 180px;
		}


		.contacttext {
			color: white;
		  position: absolute;
		  top: 250px;
		  left: 150px;
		  font-size:4em;
		}

		.contact_1 {
			font-size: .5em;
		}

		.contact_2 {
			font-size: .5em;
		}

		.cta {
			background: dodgerblue;
			font-size: .9em;
			color: #fff;
			display:inline-block;
			font-weight: 700;
			/*margin-top: 2em;*/
			padding:.6em 1.6em;
			text-decoration: none;
			text-transform: uppercase;
			border-radius: .5em;
		}


		.cta-home {
			width:150px;
			background: white;
			border: 2px solid #00a2ce;
			/* #ef6f1a */
			font-size: .9em;
			color: black;
		 /* position: relative; */
		 	left:10%;
		 /* bottom:375px; */
		 	/* bottom:300px; */
			font-weight: 700;
			/*margin-top: 2em;*/
			 padding:.6em 2.4em;
			 text-decoration: none;
			 text-transform: uppercase;
		 	 border-radius: .5em;
			}


		.cta:hover {
			background-color: #99CCFF;
			color: #FFF;
		}

		#resume {
			margin-top:1em;
		}

		#button{
			margin-top:1em;
		}


		.design-wrapper{
			display:block;
			background-color:#010101;

		}


		.designb-wrapper{
			display:block;
			background-color:#ebebeb;

		}



		.designwork-wrapper{
			display:block;
		}

		.project-background {
			margin:auto;
			padding-top:100px;
		}



		.tiles img {
			width:77%;
			margin:auto;
		}


		.process_tiles img {
			position:relative;
			top:100px;
			width:40%;
			margin:auto;
		  margin-bottom:20px;
			-webkit-box-shadow: 7px 6px 31px 0px rgba(0,0,0,0.43);
		  -moz-box-shadow: 7px 6px 31px 0px rgba(0,0,0,0.43);
		  box-shadow: 7px 6px 31px 0px rgba(0,0,0,0.43);
		  background-color:#cfcece;

		}


		.process_tiles1 img {
			box-shadow: none;
			}

		.tiles h1 {
			color: black;
			text-align:center;
			padding-top:50px;
			font-size: 3em;
			}

		.tiles p {
			color:black;
			text-align: center;
			margin-bottom:50px;
			font-size:1.5em;
			}

		.intro-dreamz{
			position:absolute;
			top: 15%;
		 	left: 50%;
		  transform: translate(-50%, -50%);
		 	color:black;
	  	text-align:center;
	  	padding-top:30px;
		 }

		.intro-dreamz h1{
			padding-top:30px;
			padding-bottom:30px;
		}

		.intro-columns{
			column-count:3;
			column-gap:120px;
		}

		.intro-box-dreamz{
			width:700px;
			height:150px;
			position:absolute;
			top: 24%;
		 	left: 50%;
	    transform: translate(-50%, -50%);
	  	color:black;
	  	text-align:center;
	  	padding-top:30px;
	  	margin-top:40px;
	  	font-style:italic;
			}

		.intro-box-dreamz h2{
			margin-bottom:20px;
			font-style:italic;
		}

		.scroll-arrow{
			position:absolute;
			top:90%;
			left:45%;
			width:55px;
		}

		.discovery{
			position:relative;
			top:160px;
			text-align:center;
			background-color: #cfcece;
		}

		.discovery1{
			position:relative;
			top:160px;
			text-align:center;
			height:900px;
			background-color: #cfcece;
		}


		.discovery h1{
			margin-top:50px;
		}

		.discovery p{
			font-size:1.5em;
			position:relative;
			text-align: center;
			left: 50%;
			width:50%;
			margin:30px;
	    transform: translate(-50%, -50%);
		}

		.exploration {
			position:relative;
			top:400px;
			text-align: center;
			left: 50%;
			width:50%;
			margin:30px;
	    transform: translate(-50%, -50%);
		}


		.exploration_tiles img{
			position:relative;
			top:150px;
			width:40%;
			margin:auto;
			margin-bottom:20px;
			-webkit-box-shadow: 7px 6px 31px 0px rgba(0,0,0,0.43);
			-moz-box-shadow: 7px 6px 31px 0px rgba(0,0,0,0.43);
			box-shadow: 7px 6px 31px 0px rgba(0,0,0,0.43);
		}

		.title-problem{
			display:block;
			position:absolute;
			top:1100px;
			width:600px;
	  	left: 50%;
	    transform: translate(-50%, -50%);
	  	color:white;
		 	text-align:center;

		}

		.oldsite-pics{
			display:block;
			width:150%;
			position:absolute;
			top:400px;
			left: 50%;
	    transform: translate(-50%, -50%);
		}

		.title-wireframe{
			display:block;
			margin:auto;
			width:50%;
		 	text-align:center;
		 	color:white;
		 	padding-top:5%;
		 	padding-bottom:5%;
		}

		.wireframe {
			display:block;
			margin:auto;
			width:100%;
			padding-bottom:5%;
			padding-top: 5%;
		}

		/* .title-moodboard{
			display:block;
			margin:auto;
			width:50%;
		 	color:white;
	  	text-align:center;
	  	padding-bottom:5%;
		} */

		/* .moodboard{
			display:block;
			margin:auto;
			padding-bottom:5%;
			padding-top: 5%;
		} */



		.proposal-container{
			width:55%;
			background-color:#e0dfe0;
			margin:auto;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
			/* padding-top:100px */
		}


		.proposal img{
			/* width:85%; */
		  padding:5%;
			margin:auto;


		}
		.proposal3{
			margin:auto;
			width:70%;
			display:flex;
			flex-wrap: wrap;
			padding: 60px 10px;
			justify-content: center;
		}




		.proposal1{
			width:75%;
			margin:auto;
		}


		.fab  {
			color:black;
		}

		.card_github {
			color:black;
		}

		.proposal2{
			width:57.5%;
			margin:auto;
			padding-top:100px;
		}


		.proposal1 h1{
			text-align:center;
		}

		/* .thanks img {
			width:30%;
			margin:auto;
		} */


		/* .process-thanks img {
			width:5%;
			margin:auto;
			top:600px;
		} */

		.project-title img{
			height:400px;
			width:100%;
		}

		.work-title {
			height:400px;
			background: url("../images/pexels-photo8.jpg") no-repeat;
			width:100%;
			/* background-color:blue; */
			background-size:cover;
			opacity:.25;
		 }


		.designb-wrapper h1{
			position:absolute;
			left: 50%;
		  transform: translate(-50%, -50%);
		  color:white;
		  margin-top:240px;
	  	font-size:4em;
		}



		.closepanel2 {
			/* display:inline-flex; */
			width: 100%;
			/* height: 650px; */
			background-color:white;
			position: relative;
			z-index: 3;
			text-align: center;
			font-size: 1.75em;
			/* padding-top:20px; */
		}



		.wireframe3 {
	 		width:30%;
		}

		#projects {
			display:flex;
			flex-flow: row wrap;
			justify-content: flex-end;
			/* background-color:green; */
		}

		.gallery:hover {
		  background-color:#eaeaea;
		}

		.desc {
			clear:both;
		  padding: 15px;
	    text-align: left;
			font-size:2em;
		}

		.gallery {
	  	margin: auto;
	    border: 1px solid #ccc;
		  padding: 1em;
		 	margin-bottom:20px;
			/* background-color:green;  */
		}


		.gallery img {
		   width: 550px;
	     height: auto;
			 padding-bottom: 50px;
		   float:left;
		}


		.livesite_nav{
			width:100;
			hight:50px;
		}


		.cta-proj {
			position:relative;
			text-align:center;
			transform: translate( -50%);
			background: #ebebeb;
			font-size: .9em;
			color: black;
			display:block;
			font-weight: 700;
			text-decoration: none;
			text-transform: uppercase;
			width:200px;
			left:50%;
		}

		.cta:hover {
			background-color: #99CCFF;
			color: #FFF;
		}


		.prev_projectnav{
			display: inline-block;
			position: relative;
			left:20%;
			bottom:10%;
			Padding-bottom:40px;
		}

		.next_projectnav{
			display: inline-block;
	  	position: relative;
			left:65%;
			padding-bottom:40px;
			bottom:10%;
		}



		#button{
			margin-top:1em;
		}

		 #button3 {
			position: relative;
			top: 50%
			left:50%
		}

		/* .project-introduction1{
			width:100%;
			height:650px;
			padding-top:200px;
			padding-left:20%;
		}
		 */


		.project-introduction3{
			width:100%;
			height:600px;
			padding-top:200px;
			padding-left:20%;
			padding-right:40%;
		}




		.project-introduction4{
			width:100%;
			height:400px;
			padding-top:200px;
			padding-left:20%;
			padding-right:40%;
			}

		.project3 h4{
			color: #ef6f1a;
		}

		.project2 h4{
			color:#e32525;
		}

		.project1 h4{
			color:dodgerblue;
		}


/* insert css infinate bounce */

	@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

		.fa {
			width: 60px;
			display: block;
			text-align: center;
			color:dodgerblue;
			font:normal 45px 'FontAwesome';
			line-height:60px;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
		}

	.fa-angle-double-down:before {content: "\f107";}

	.bounce {
		/* background-color:white; */
		position: absolute;
		bottom: 19vh;
		left: 50%;
		width: 60px;
		height: 60px ;
		/* margin-left:-30px; */
		border: 2px solid dodgerblue;
		-webkit-border-radius:50%;
		-moz-border-radius:50%;
		-ms-border-radius:50%;
		border-radius:50%;
		animation: bounce 2s infinite;
		-webkit-animation: bounce 2s infinite;
		-moz-animation: bounce 2s infinite;
		-o-animation: bounce 2s infinite;
	}

		@-webkit-keyframes bounce {
			0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
			40% {-webkit-transform: translateY(-30px);}
			60% {-webkit-transform: translateY(-15px);}
		}

	@-moz-keyframes bounce {
		0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
		40% {-moz-transform: translateY(-30px);}
		60% {-moz-transform: translateY(-15px);}
	}

	@-o-keyframes bounce {
		0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
		40% {-o-transform: translateY(-30px);}
		60% {-o-transform: translateY(-15px);}
	}

	@keyframes bounce {
		0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
		40% {transform: translateY(-30px);}
		60% {transform: translateY(-15px);}
	}





			/* -----------------------------------
			            work page
			------------------------------------*/

			.work {
				width: 100%;
				padding-top:120px;
				background-color: white;
				z-index: 3;
			}

			.closepanel_work {
				/* display:inline-flex; */
				width: 100%;
				padding-top: 200px;
				/* height: 650px; */
				position: relative;
				z-index: 3;
				text-align: center;
				font-size: 1.5em;
				/* padding-top:100px; */
			}

			.work-intro {
				/* display:inline-flex; */
				width: 100%;
				height:740px;
				position: relative;
				z-index: 3;
				 text-align: center;
				font-size: 1.75em;
				/* padding-top:20px; */
			}

			.column{
			flex: 50%;
			padding: 0 10px;
		}

			.column img {
			 /* width:60%; */
			margin-top:8px;
			verticle-align: middle;
			}


					.row3 {
					  display: -ms-flexbox; /* IE10 */
					  display: flex;
					  -ms-flex-wrap: wrap; /* IE10 */
					  flex-wrap: wrap;
					  padding: 0 4px;
					}

					/* Create four equal columns that sits next to each other */
					.column {
					  -ms-flex: 25%; /* IE10 */
					  /* flex: 25%; */
					  max-width: 33.33%;
					  padding: 0 4px;
					}

					.column img {
					  margin-top: 8px;
					  vertical-align: middle;
						width:97%;
					}


					.grid-heading h1{
						position:relative;
						/* bottom: -50px; */
						left: 150px;
						padding-top:120px;
						margin-bottom:75px;

					}

					/* Responsive layout - makes a two column-layout instead of four columns */
					@media screen and (max-width: 800px) {
					  .column {
					    /* -ms-flex: 50%;
					    flex: 50%;
					    max-width: 50%; */
							-ms-flex: 100%;
						 flex: 100%;
						 max-width: 100%;
					  }
					}

					/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
					/* @media screen and (max-width: 600px) {
					  .column {
					    -ms-flex: 100%;
					    flex: 100%;
					    max-width: 100%;
					  }
					} */








		/* -----------------------------------
		            about page
		------------------------------------*/
		.header-static {
			position: fixed;
			z-index:9;
			top: 0;
			left: 0;
			width: 100%;
			background-color: dodgerblue;
			}

			.closepanel {
				width: 100%;
				height: 100px;
				background-color:white;
				position: relative;
				z-index: 3;
			}


			.closepanel-about2 {
  			/* display:inline-flex; */
				width: 100%;
				/* height: 650px; */
				background-color:white;
				position: relative;
				z-index: 3;
  		  text-align: center;
				font-size: 1.75em;
				/* padding-top:20px; */
			}

			.selfie_right img {
				padding-top:100px;
				float:left;
				width:38%;
			}

			.selfie_left img {
				float:left;
				width:38%;
			}

			.selfie_logo img {
				opacity: 0.2;
				float: left;
				width: 40%;
				position: absolute;
				left: 70%;
				top: 55%;
				transform: translate(-50%, -50%);
			}

			.ghost_logo img {
				opacity: 0.04;
				float: left;
				width: 40%;
				position: absolute;
				left: 50%;
				top: 55%;
				transform: translate(-50%, -50%);
			}

			.about_text {
				float: left;
				display: block;
				width: 40%;
				margin-top: 20px;
				position: absolute;
				left: 70%;
				top: 50%;
				transform: translate(-50%,-50%);
				font-size: 1.3em;
			}

			.about_text h1{
				font-size:1.7em;
				letter-spacing: 10px;
			}


			.intro_text1{
				/* display:flex; */
				width:60%;
				padding-top:10%;
				text-align: left;
				/* padding-right:6%; */
				padding-left:10%;
				font-size:.75em;
			}

			.intro_image1{
				/* width:60%; */
				width:100%;
			}

			.intro_image1 img{
				width:100%;
				/* padding-right:10%; */
			}

			.about-title {
				height:400px;
				background: url("../images/pexels-photo-911738.jpg") no-repeat;
				width:100%;
				/* background-color:blue; */
				background-size:cover;
				opacity:.15;
				}

			.about-wrapper{
				display:inline-flex;
				width:65%;
				/* background-color:pink; */
			}
			.about_container{
				display:inline-flex;
				width:100%;
				margin_bottom:800px;
				/* padding-top:-350px; */
				 /* background-color:yellow; */
			}

			.about_selfie img{
				width:17%;
				/* border-radius:50%; */
				position:relative;
				left:400px;
				top:150px;
				overflow:hidden;
				border: 4px inset #2884f6;
				/* margin:auto; */
			}

		.about_bio{
			display:flex;
			flex-direction: column;
			width:100%;
			height:600px;
			padding-top:200px;
			padding-left:15%;
			padding-right:35%;
			 /* background-color:orange; */
		}

		.slideshow-wrapper{
			width:35%;
			height:850px;
			background-color:#2884f6;
		}

		.slideshow-container{
			display:flex;
			position: relative;
			right:269px;
			top:200px;
			/* background-color:White; */
			 width:140%;
		}


			.ghost_text{
  			font-size: 8em;
				color:grey;
				opacity:.2;
				position:absolute;
				 top:-10%;
				z-index:1;
			}












	/*------------------------------------------------------
								knight law - project1 page
	------------------------------------------------------- */

				/* .project1-intro {
					display:block;
					height:1300px;
				} */



				.project-introduction-knight{
					padding-top:50px;
					text-align:center;
					/* color:white; */
					/* width:100%; */
					position:relative;
					top:-1260px;

				}

				.portfolio-knight {
					width: 100%;
					background-color:white;
					background: url("../images/hex_image.jpg") no-repeat;
					background-size:cover;
					position: relative;
					height:775px;
					z-index: 3;
				}

				.project-law-introduction2{
					/* width:100%; */
					height:450px;
					/* padding-top:5%; */
					padding-left:20%;
					padding-right:40%;
					margin-top: -150px;

				}





				.cta-lawyer {
		  		/* background: white; */
					border: 2px solid dodgerblue;
					font-size: .9em;
					color: white;
					display:inline-block;
					font-weight: 700;
					/*margin-top: 2em;*/
					padding:.6em 1.6em;
					text-decoration: none;
					text-transform: uppercase;
					border-radius: .5em;
					}


					.cta-lawyer2 {
						color:black;
						border: 2px solid dodgerblue;
						font-size: .9em;
						display:inline-block;
						font-weight: 700;
						/*margin-top: 2em;*/
						padding:.6em 1.6em;
						text-decoration: none;
						text-transform: uppercase;
						border-radius: .5em;

					}

					.project-typography-law-container{
  					font-family: 'Spectral', serif;
						color:#b7aaa4;
						background-color:white;
						font-size:3em;
						padding-top:10%;
						padding-bottom:10%;
						padding-left:20%;
						/* width:100%; */
						/* height:350px; */
						}


					.project-law-container2{
						width:100%;
						/* padding-left:25%;
						padding-right:25%;
						background-color:#ef6f1a; */
					}

				.project-law-conclusion{
					width:100%;
					/* height:400px; */
					padding-top:5%;
					padding-bottom:10%;
					padding-left:20%;
					padding-right:40%;
				}




				.project-specs-law {
					column-count:2;
				}

				.project-specs-law h4 {
					/* color: #374d8c; */
				}

				.project-law-before{
					padding-left: 20%;
					width:100%;
					/* padding-top:100px; */
					padding-left:20%;
					padding-right:40%;
				}

				.proposal-law {
					width:100%;
					text-align:center;
				}
				.proposal-container img{
					/* width:85%; */
					padding:5%;
					margin:auto;
				}



 /* ---------------------------------------------------
				street dreamz - project2 page
	---------------------------------------------------- */

					.header-dreamz {
						position: fixed;
						z-index:9;
						top: 0;
						left: 0;
						width: 100%;
						background-color: black;
						transition: 0.3s;
						}

					.container {
						padding-top: 55%;
						position: relative;
						width: 100%;
						height:0;
					}

					.portfolio {
						width: 100%;
						height:775px;
						/* background-color:orange; */
						position: relative;
						z-index: 3;
					}

					.portfolio-street {
						width: 100%;
				  	background-color:white;
						background: url("../images/wheel2.png") no-repeat;
						background-size:cover;
						position: relative;
						height:775px;
						z-index: 3;
					}

					.project-introduction-street{
						/* padding-top:50px; */
						text-align:center;
						/* color:white; */
						/* width:100%; */
						position:relative;
						top:-1230px;
					}

					#project-intro-text {
						color:white;
					}

					.cta-street {
						border: 2px solid #df2424;
						font-size: .9em;
						color: white;
						display:inline-block;
						font-weight: 700;
						padding:.6em 1.6em;
						text-decoration: none;
						text-transform: uppercase;
						border-radius: .5em;
					}

					.cta-street2 {
						border: 2px solid #df2424;
						font-size: .9em;
						color: black;
						display:inline-block;
						font-weight: 700;
						padding:.6em 1.6em;
						text-decoration: none;
						text-transform: uppercase;
						border-radius: .5em;
					}



					#resume {
						margin-top:1em;
					}

						.project2-intro {
							display:block;
							height:1300px;
						}

						.project-introduction2{
							/* width:100%; */
							height:450px;
							padding-top:5%;
							padding-left:20%;
							padding-right:40%;

						}
						.project-specs-street {
						column-count:2;
						}

						.project-specs-street h4 {
							color: #d30605;
						}


						.project-introduction-street3{
							width:100%;
							/* height:650px; */
							padding-top:100px;
							padding-left:20%;
							padding-right:40%;
						}

						.process_tiles_street img {
							width:70%;
							margin:auto;
							margin-bottom:10%;
							margin-top: 10%;
							-webkit-box-shadow: 7px 6px 31px 0px rgba(0,0,0,0.43);
							-moz-box-shadow: 7px 6px 31px 0px rgba(0,0,0,0.43);
							box-shadow: 7px 6px 31px 0px rgba(0,0,0,0.43);
							}

						.project-typography-street-container{
							font-family: 'Open Sans', sans-serif;
							color:black;
							background-color:white;
							font-size:3em;
							padding-top:10%;
							padding-bottom:10%;
							padding-left:20%;
				  		 /* width:100%; */
							 /* height:350px; */
							}
							.project-street-container2{
								font-family: 'Crete Round', serif;
								font-size:3em;
							 /* width:100%; */
							 /* height:350px; */
							}
							.wireframe_street{
								display:flex;
								justify-content:space-evenly;
								padding-top:10%;
								padding-bottom:10%;
								background-color:#282828;
							}

							.wireframe-street1 {
								width:60%;

							}
							.proposal-street{
								margin:auto;
								width:100%;
								text-align:center;
								/* color:white; */
								padding-bottom:100px;
								margin-top:100px;
								/* background-color:#e0dfe0; */
							}

							.proposal-container-street{
								width:55%;
								background-color:#e0dfe0;
								margin:auto;
								box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
								/* padding-top:100px */
							}

							.proposal-container-street img{
								/* width:85%; */
								padding:5%;
								margin:auto;
							}



							.project-streetDrm-container{
								width:100%;
								/* padding-left:25%;
								padding-right:25%;
								background-color:#ef6f1a; */
							}




							.project-streetDrm-container2{
								width:100%;
								/* padding-left:25%;
								padding-right:25%;
								background-color:#ef6f1a; */
							}




							.project-street-conclusion{
								width:100%;
								height:400px;
								padding-top:3%;
								padding-left:20%;
								padding-right:40%;
								padding-bottom:15%;
								}

								@media only screen and (max-width: 768px) {


									.project-introduction-street{
										/* padding-top:50px; */
										text-align:center;
										/* color:white; */
										/* width:100%; */
										position:relative;
										top:-430px;
										padding-top: 450px

									}

									.project2-intro {
										height: 650px;
									}

									.project2-intro img {
										padding-top: 24%;
									}



									.project-introduction-street h1{
										font-size: 1.5em;
									}

									.cta-street {
										color: black;
									}

									.proposal-street {
										padding-left: 10%;
										padding-right: 10%;
										text-align: left;
									}


									.project-typography-street-container{
										font-size:1em;
									}


								}

								@media only screen and (max-width: 568px) {

									/* .project2-intro{
										height: 350px;
									} */

									#project-intro-text{
										color: black;


								}

							.project-introduction-street3 {
								margin-top:30%;
								height:450px;
							}

							.project-introduction-street3{
								padding-top:50px;
								padding-left:10%;
								padding-right:10%;
								height:450px;
							}

							.project-street-conclusion {
								width:100%;
								padding-left: 10%;
								padding-right: 10%;

							}

						}








 /* ---------------------------------------------------
								Zushi - project 3 page
  ----------------------------------------------------*/






				.project-introduction-zushi{
					padding-top:50px;
					text-align:center;
					color:white;
					/* width:100%; */
					position:relative;
					top:-1260px;
					}


					.project-introduction-zushi2{
						/* width:100%; */
						height:400px;
						/* padding-top:5%; */
						padding-left:20%;
						padding-right:40%;
						margin-top: -300px;

					}



					.project-sushi-container{
						width:100%;
						padding-left:25%;
						padding-right:25%;
						background-color:#ef6f1a;
					}




					.cta-zushi {
						border: 2px solid #ef6f1a;
						font-size: .9em;
						color: white;
						display:inline-block;
						font-weight: 700;
						/*margin-top: 2em;*/
						padding:.6em 1.6em;
						text-decoration: none;
						text-transform: uppercase;
						border-radius: .5em;
					}

					.cta-zushi2 {
						border: 2px solid #ef6f1a;
						font-size: .9em;
						color: black;
						display:inline-block;
						font-weight: 700;
						/*margin-top: 2em;*/
						padding:.6em 1.6em;
						text-decoration: none;
						text-transform: uppercase;
						border-radius: .5em;
					}


					.project3-intro img{
						padding-top:100px;
					}

					.project-zushi-conclusion{
						width:100%;
						height:400px;
						padding-top:5%;
						padding-left:20%;
						padding-right:40%;

						}

						.wireframe_zushi{
							display:flex;
							justify-content:space-evenly;
							padding-bottom:150px;
						}

						.wireframe-zushi-1{
							width:30%;
						}

						.wireframe-zushi-2 {
					 		width:30%;
						}


						.project-specs-zushi {
							column-count:2;
						}

						.project-specs-zushi h4 {
							 color: red;
						}

						.project-sushi-before{
							padding-left: 20%;
							width:100%;
							/* padding-top:100px; */
							padding-left:20%;
							padding-right:40%;
						}

						.proposal-zushi {
							width:100%;
							text-align:center;
						}

						.proposal-container-zushi{
							width:55%;
							background-color:#e0dfe0;
							margin:auto;
							box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
							/* padding-top:100px */
						}

						.proposal-container-zushi img{
							/* width:85%; */
							padding:5%;
							margin:auto;
						}


	/* ------------------------------------------------
								AZ Spine - project 5 page
	------------------------------------------------- */

			.project-introduction-spine{
				/* padding-top:50px; */
				text-align:center;
				/* color:white; */
				/* width:100%; */
				position:relative;
				top:-1230px;
			}


			.project-introduction-spine2{
				/* width:100%; */
				height:400px;
				/* padding-top:5%; */
				padding-left:20%;
				padding-right:40%;

			}



			.portfolio-spine {
				width: 100%;
				background-color:white;
				background: url("../images/spine-background.jpg") no-repeat;
				background-size:cover;
				position: relative;
				height:775px;
				z-index: 3;
			}

			.project-spine-container{
				width:100%;
			}

			.project-spine-container2{
				font-family: 'Crete Round', serif;
				font-size:3em;
			 /* width:100%; */
			 /* height:350px; */
			}

			.project-spine-before{
				padding-left: 20%;
				width:100%;
				/* padding-top:100px; */
				padding-left:20%;
				padding-right:40%;
			}



				.project-specs-spine {
				column-count:2;
				}

				.project-specs-spine h4 {
					color: #f47416;
				}


			.project-spine-typography-container{
				font-family: 'Crete Round', serif;
				color:white;
				background-color:#2B2B2B;
				font-size:3em;
				padding-top:10%;
				padding-bottom:10%;
				padding-left:20%;
	  		 /* width:100%; */
				 /* height:350px; */
				}

				.project5-intro {
			 	 display:flex;
			 	 flex-direction: column;
			 	 height: 1600px;
			  }


			 .project5-intro img{
			 	padding-top:100px;
			 }

			 .cta-spine {
				 border: 2px solid #df2424;
				 font-size: .9em;
				 color: white;
				 display:inline-block;
				 font-weight: 700;
				 padding:.6em 1.6em;
				 text-decoration: none;
				 text-transform: uppercase;
				 border-radius: .5em;
			 }

			 .cta-spine2 {
				 border: 2px solid #df2424;
				 font-size: .9em;
				 color: black;
				 display:inline-block;
				 font-weight: 700;
				 padding:.6em 1.6em;
				 text-decoration: none;
				 text-transform: uppercase;
				 border-radius: .5em;
			 }


			 .project-conclusion-spine{
 				width:100%;
 				height:400px;
 				padding-top:5%;
				padding-botom: 10%;
 				padding-left:20%;
 				padding-right:40%;
 				}

				.proposal-spine {
					margin-top: 5%;
					width:100%;
					text-align:center;
				}

				.proposal-container img{
					/* width:85%; */
					padding:5%;
					margin:auto;
				}



	/* -------------------------------------------------
					Graphic Design - project 6 page
	-------------------------------------------------- */




















 /*-----------------------------------------------------
      							  project END
	------------------------------------------------------*/











		@media only screen and (max-width: 700px) {

			cta-proj {
				position:relative;
				left:41%;
			}

				#projects {
					width:100%;
				}

		    .gallery {
		        margin: 6px 0;
		       }

		       #projects{
		       	margin-left:0;
		       	padding:0;
		       }

					 .prev_projectnav {
				 		left: 5%;
				 	}

				 	.next_projectnav{
				 		left: 40%;
				 	}




		}

		@media only screen and (max-width: 500px) {

			cta-proj {
				position:relative;
				left:41%;

			}

		    .gallery {
		        width: 100%;
		    }


		.clearfix:after {
		    content: "";
		    display: table;
		    clear: both;
		}

	}




		@media only screen and (max-width: 1590px) {



						cta-proj {
							position:relative;
							left:41%;

						}



		.mail {
		    position: relative;
		    top: 20px;
		    left: 10px;
		}


		.contacttext {
		    position: relative;
		    top: 10px;
		    left: 20px;
		    font-size:2em;
		    color:darkslateblue;
		}

		.footer{
			padding-top:0;
		}


		.contactpic{
			padding-top:100px;

		}


		/* .description1a {
			display: none;
		} */


		.project-background {
			width:100%;
			margin:auto;
			padding-top:100px;

		}

		}

		@media only screen and (max-width: 1050px) {
		.header {
			background-color: dodgerblue ;
		}
		.burger-nav {
			display: block;
			float: right;
			height: 30px;
			width: 30px;
			background: transparent url(../images/hamburger_white.png) center center no-repeat;
			background-size: 100% auto;
			position: relative;
			margin-top: 20px;
			margin-right: 25px;
			z-index: 99;
		}

		.headerleft h2 {
			font-size: 1em;
			position: fixed;
			left: 90px;
		}

		.headerright {
			display: none;
			overflow: hidden;
			background: black;
			opacity:.85;
			border-radius: 12px;
			width: 90%;
			margin-left: 5%;
			margin-right: 5%;
			float: none;
			height: calc(77vh - 100px);
			position: fixed;
			bottom: 0;
			top: 100px;
		}

		.headerright a {
			width: 100%;
			margin: auto;
			color: #d9d9d9;
			padding: 10px;
			border-bottom: 1px solid #404040;
			display: block;
			position: relative;
		   float: none;
			top: 0;
			left: 0;
			transform: translate(0);
		}

		.hero_text h1 {
			font-size: 2.2em;
			color:darkslateblue;
		}

		.hero_text h2 {
			font-size: 1.5em;
			color:darkslateblue;
		}

		.portfolio p {
			font-weight: 400;
			font-size: 1.2em;
		}

		.thumb1 {
			float: none;
			width: auto;
		}

		.figure2 {
			display: flex;
			flex-direction: column;
		}

		.thumb2 {
			float: none;
			width: auto;
			order: 1;
		}


		.hero_right {
			width: 100%;
			float: none;
			padding-top:100px;

		}

		.contactpic{
			padding-top:100px;

		}

		.mail {
		    position: relative;
		    top: 20px;
		    left: 10px;
		}


		.contacttext {
		    position: relative;
		    top: 10px;
		    left: 20px;
		    font-size:2em;
		    color:darkslateblue;
		}


		.project-background {
			width:100%;
			margin:auto;
			padding-top:100px;

		}

		#projects{
			height:auto;
			margin-left:none;
			padding:none;
		}

		.gallery{
			padding:1em;
		}

		}

		@media only screen and (max-width: 768px) {


		.header {
			background-color: dodgerblue;
		}

		.burger-nav {
			display: block;
			float: right;
			height: 30px;
			width: 30px;
			background: transparent url(../images/hamburger_white.png) center center no-repeat;
			background-size: 100% auto;
			position: relative;
			margin-top: 20px;
			margin-right: 25px;
			z-index: 99;
		}

		.headerleft h2 {
			font-size: 1em;
			position: fixed;
			left: 90px;
		}

		.headerright {
			display:none;
			overflow: hidden;
			background: #34306d;

		}

		.headerright.open {
			height: auto;
		}

		.hero_left {
			display: none;
		}

		.hero_right {
			width: 100%;
			float: none;
			padding-top:100px;
		}

		.container {
			padding-top: 100%;
		}

		.portfolio p {
			font-weight: 400;
		}

		.thumb1 {
			float: none;
			width:auto;
			position:absolute;
			left:17%;
			top:33%;
		}



		.thumb1a {
			position:absolute;
			top:35%;
			right:20%;
			z-index:1;
			width: auto;
		}

		.thumb2 {
			float: none;
			width: auto;
		}

		.thumb3 {
			width: 100%;
			top: 30%;
			left:1%;
		}

		.selfie_right img {
			width: 60%;
			padding-left: 5%;
			padding-right: 10%;
		}

		.selfie_left img {
			width:38%;
		}

		.selfie_logo img {
			display: none;
		}

		.about_text {
			float: none;
			display: block;
			width: 80%;
			position: relative;
			left: 0;
			top: 0;
			padding-left: 40px;
			transform: none;
			margin-bottom:20px;
			}

		 .hero_text {
		    position: relative;
		    top: 60%;
		    left: 20px;
		    transform: translate(0);
		    padding: 20px;

		}


		.contactpic{
			padding-top:100px;

		}

		.description1{
			text-align: center;
			width:auto;
			top:3%;
			left:14%;
			right:14%;
		}

		.description1a{
			display:none;
		}


		.backdrop1{
			width:100%;
			padding-bottom: 340px;
		}


		.description2{
			text-align: center;
			width:auto;
			top:3%;
			right:14%;
		}

		.description2a{
			display:none;
		}


		.description3{
			text-align: center;
			width:auto;
			top:3%;
			left:14%;
			right:14%;
		}


		.description3a{
			display:none;
			/* text-align: center;
			width:auto;
			top:6%;
			left:14%;
			right:14%; */
		}


		.backdrop2{
			width:100%;
			padding-bottom: 350px;
		}


		.backdrop3{
			width:100%;
			padding-bottom: 300px;
			height:auto;

		}

		.skills1 {
			float: left;
			width: 28%;
			font-size:.50em;
			padding:12px;
			margin-left:50px;
		}




		.skills2 {
			float: left;
			width: 28%;
			font-size:.50em;
			padding:12px;

		}


		.skills3 {
			float: left;
			width: 28%;
			font-size:.50em;
			padding:12px;
		}

		.closepanel4 {
			height: 500px;
		}


		.project-background {
			width:100%;
			margin:auto;
			padding-top:100px;

		}

		.proposal{
			width:80%;
		}


		.proposal1{
			width:100%;
		}

		.proposal3{
			width:auto;
		}


			.column{
				flex-basis: 100%;
			}

		.project-title img{
			height:220px;
		}

		.designb-wrapper h1{
			font-size:1.5em;
			margin-top:150px;
		}

		.gallery{
			/* margin-left:0; */
			padding: 2em;
			float: none;

		}
		#projects{
			height:auto;
		}


		.intro-home-1{
			display:flex;
			flex-direction: column-reverse;
			width:100%;
			margin-bottom:0;
			padding-bottom: 70px;
		}

		.intro_image1{
			width:100%;
		}

		.intro_text1{
			width:80%;
			padding-left:20%;
		}


		.intro2{
			display:flex;
			flex-direction: column;
			width:100:
		}

		.intro_image2{
			width:80%;
		}

		.intro_text2{
			width:80%;
			padding-left:15%;
			padding-right:0;
		}

/* skills start here */


		.closepanel5 {
			width: 100%;
			height: 1300px;
			 /* background-color:#e7e8fe; */
			/* background-color:white; */
			/* position: relative; */

			text-align: left;

			padding-top:100px;


		}

		.closepanel5 img {
			width:15%;
			margin:auto;
		}

		.closepanel5 h1 {
			text-align:center;
		}

		.closepanel5 h4 {
			text-align:center;
		}

		.skills51 {
			float:none;
			width: 100%;
			margin-left:0;
			padding-left:5%;
			padding-right:5%;
		}


		.skills52 {
			float:none;
			width: 100%;
			padding-left:5%;
			padding-right:5%;
			}

		.skills53 {
			float: none;
			width: 100%;
			padding-left:5%;
			padding-right:5%;
		}


		 .backdrop1 img{
			height:800px;
			overflow:hidden;


		}

	.description1a{
		display:none;
	}


	.intro1{
		display:flex;
		flex-direction:column-reverse;
	}

	.work-intro_text1{
		width:90%;
		padding-top:0;
	}

	.grid-heading h1{
		left:60px;
		padding-top:80px;
		margin-bottom:75px;
		width:80%;
		text-align:center;
	}

	.h1{
		1.75em;
	}

		}
		@media screen and (max-width: 568px) {
		    .hero_text {
		    position: relative;
		    top: 0;
		    left: 0;
		    transform: translate(0);
		    padding: 20px;
		    width: 75%;
		  }

		  .container {
		    padding-top: 0%;
			}

		.bounce{
			display:none;
		}

			.hero_right {
			/* width: 80%; */
			float: none;
			padding-top:100px;

		}

		.contactpic{
			padding-top:100px;

		}


		.closepanel2 h1{
			font-size:2em;
		}

		/* .intro_text1 {
			width:100%;
		} */

		.intro_text1 h1{
			font-size: 1.5em;
		}

		.intro_text1 P{
			font-size: .75em;
		}

		.intro_text2 h1{
			font-size: 1.5em;
		}

		.intro_text2 P{
			font-size: .75em;
		}

		.thumb1a{
			top:55%;
			left:0;
			right:0;


		}

		.thumb1a img{
			width: 100%;
			padding-left:5%;
			padding-right:5%;
		}


		.thumb1{
			top:55%;
			left:0;
			right:0
		}


		.thumb1 img{
			width: 100%;
			padding-left:5%;
			padding-right:5%;
		}

		.cta{
			display:none;

		}

		.description1{
			top:12%;
		}


		.description3{
			top:15%;
			left:10%;
			right:10%;
		}


		.description3a{
			display:none;
		}

		.closepanel3{

			font-size: 1.0em;
			height:210px;

		}
		.closepanel4{
			height:1300px;
		}

		.closepanel5 h1{
			font-size: 1.5em;
		}

		.closepanel5 p{
			font-size: .75em;
		}

		.closepanel5{
			height:1000px;
			padding-top: 50px;

		}


		.skills1 {
			float:none;
			width: 100%;
			font-size:.7em;
			margin:0;

		}

		.skills1 h2{
			font-size:1.0em;
		}


		.skills2 {
			float:none;
			width: 100%;
			font-size:.7em;
			margin:0;

		}

		.skills3 {
			float:none;
			width: 100%;
			font-size:.7em;
			margin:0;

		}

		.thumb3{
			top:53%;
			width:100%;
			left:1%;
			right:3%;
		}

	h1 {
		font-size:1.5em;
	}

	.grid-heading h1{
		padding-top:0;
		margin-bottom:0px;
		left:30px;
	}

		.work-intro{
			height:600px;
		}


		.project-introduction1 {
			padding-left:10%;
			padding-right:10%;
		}

		.project-introduction2 {
			padding-left: 10%;
			padding-right:10%;
			padding-top:75px;

		}

		.project-introduction3{
			padding-top:50px;
			padding-left:10%;
			padding-right:10%;
			height:400px;
		}

/*
		.project-introduction-street3{
			padding-top:50px;
			padding-left:10%;
			padding-right:10%;
			height:450px;
		} */

		.project-sushi-container2 {
			padding-top:5%;
		}




		.project-introduction4{
			padding-left:10%;
			padding-right:10%;
			padding-top:10%;
			height:280px;
		}

		.wireframe_zushi{
			padding-bottom:6%;
		}

		.proposal{
			margin-top:0;
			padding-bottom:10%;

		}

		.project-conclusion {
			padding-left:10%;
			padding-right:10%;

		}

		}

/*
		@media only screen and (max-width: 421px) {
		.header {
			background-color: dodgerblue ;
		}
		.headerleft h2 {
			float: left;
			margin-top: 30px;
			font-size: 1.0em;*/
		  }

		  /* .p1 {
			 display: none;

		}

		.hero_right {
			width: 100%;
			float: none;
			padding-top:100px;

		}

		.hero_text {
			Width:75%;
		}

		.contactpic{
			padding-top:100px;

		}

		.portfolio{
			padding-bottom:200px;
			height:680px;
		}

		.thumb1 {

			top:46%;
			width:auto;
			left:3%;
			right:3%;
		}



		.thumb1a {

			top:46%;
			width:auto;
			left:3%;
			right:3%;
		}


		.portfolio2{
			padding-bottom:200px;
		}

		.closepanel {
			height: 140px;
			font-size: 1.2em;
		}

		.closepanel2 {
			height: 80px;
			font-size: 1.2em;
			padding-top: 25px;
		}

		.description1 {
		    font-size: 12px;
		    text-align: center;
		    width: auto;
		    top: 2%;
		    right: 3%;
		    left: 3%;
		}

		.backdrop1{
			width:100%;
			padding-bottom: 240px;
		}

		.description2 {
		    font-size: 12px;
		    text-align: center;
		    width: auto;
		    top: 3%;
		    right: 3%;
		    left: 3%;
		}

		.description3 {
		    font-size: 12px;
		    text-align: center;
		    width: auto;
		    top: 3%;
		    right: 3%;
		    left: 3%;
		}

		.next_projectnav{
			left: 43%; */


		}
